.image-gallery {

    padding: 0rem 1rem 0;

    background: white;
    border-radius: 8px;
    background: white;
    width: 100%;
    // box-shadow: rgb(67 71 85 / 27%) 0px 0px 0.25em, rgb(90 125 188 / 5%) 0px 0.25em 1em;



    .images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-top: 2rem;
        gap: 0.5rem 0.5rem;

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            // flex-basis: 40%;
            border-radius: 8px;
        }
    }

}

@media screen and (min-width:468px) and (max-width: 900px) {
    .image-gallery {
        .image-container {
            .images {
                grid-template-columns: repeat(3, auto);
                // grid-template-rows: repeat(4, 200px);
                img{
                   
                }
            }
        }
    }
}

@media screen and (min-width: 901px) {
    .image-gallery {
        padding: 0 0 0 1rem;

        .image-container {

            .images {
                grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
                
                // gap:1rem 1rem;
                align-items: center;
                padding: 2rem 2rem 2rem 0;

                img {
                   // width: 100%;
                    //height: 100%;
                    // width: 190px;
                    // height: 190px;
                }
            }
        }
    }
}



@media screen and (min-width: 1400px) {
    .image-gallery {
        padding: 0 0 0 1rem;

        .image-container {

            .images {
              //  grid-template-columns: repeat(5, auto);
            }
        }
    }
}
