.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.75);
  border: 2px green solid;
  z-index: 999;

  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.modal {
  // background-color: green;

  position: fixed;
  // margin: auto;
  // height: 100vh;
  // width: 100%;
  // top: 5vh;
  // left: 20%;
  // width: 60%;
  // height: 90vh;
  // background-color: transparent;

  // border-radius: 14px;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  // overflow: hidden;
  z-index: 1000;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  justify-content: center;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
